p48.ruokezhang.com {
	encode zstd gzip

	request_body {
		max_size 1MB
	}

	@static path /static/*
	header @static Cache-Control "public, max-age=86400"

	header {
		-Server
		Content-Security-Policy "default-src 'self'; base-uri 'self'; connect-src 'self'; form-action 'self'; frame-ancestors 'none'; img-src 'self' https: data:; media-src 'self' https://idol-vod.48.cn; object-src 'none'; script-src 'self'; style-src 'self' 'unsafe-inline'"
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	reverse_proxy 127.0.0.1:8000
}
